{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-5">
        <div class="row">
            <div class="col-12">
                <h3>Qu'est-ce qu'une Constitution ?</h3>
                <hr class="cons-hr-title">
                <p>
                    Une constitution est la loi fondamentale écrite d'un Etat qui définit les droits et les libertés des
                    citoyens ainsi que l'organisation et les séparations du pouvoir politique (législatif, exécutif,
                    judiciaire). Elle précise l'articulation et le fonctionnement des différentes institutions qui
                    composent l'Etat (Le Parlement, le gouvernement et son administration et les
                    juridictions).<br/><br/>
                    Une constitution peut aussi être non-écrite, comme dans le cas du Royaume-Uni ou de la
                    Nouvelle-Zélande, par exemple. Dans ce cas-là, même si les articles n’ont pas une forme
                    particulière, les autorités leur reconnaissent cette forme particulière. Le rapport entre la reine
                    et son cabinet en est un exemple.<br/><br/>
                    La constitution se situe au sommet du système juridique de l'Etat dont elle est la norme suprême.
                    Toutes les lois, ordonnances et arrêtés doivent être conformes aux règles
                    qu'elle définit. Elle peut prendre une forme particulière, procédure différente de la loi (assemblée
                    constituante, majorité particulière), qui se distingue par soit par sa procédure d’adoption, soit
                    par la valeur reconnue aux dispositions inscrites dans ces textes. Une constitution est, en général,
                    élaborée par un pouvoir constituant originaire (assemblée constituante) ou elle est révisée par le
                    pouvoir constituant dérivé (prévu par la Constitution).<br/><br/>
                    Le mouvement des Constitutions écrites s’est enclenché à la fin du 18e siècle, notamment avec le cas
                    américain en 1787. En Suisse, la première constitution fédérale date de 1848. Contrairement aux
                    Etats-Unis qui n'ont eu qu'une seule constitution, la Suisse en a connu plusieurs
                    (1848, 1874, 1999). La version actuelle date donc du 18 avril 1999.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h4>La Constitution valaisanne</h4>
                <hr class="cons-hr-title">
                <h5>1848</h5>
                <hr class="cons-hr-subtitle">
                <p>
                    La Constitution de 1848 est considérée comme la première grande constitution valaisanne. Adopté le
                    10 janvier 1848, le texte introduit le suffrage universel pour l'élection au Grand Conseil et le
                    droit d'initiative populaire. Les libertés  de la presse, de commerce et d'industrie sont garanties
                    et le pouvoir de l'Etat est renforcé par rapport à celui des communes. Les bases d'une
                    administration cantonale sont ainsi posées.
                </p>
                <h5>1907</h5>
                <hr class="cons-hr-subtitle">
                <p>
                    La version actuelle de la constitution valaisanne a été validée le 8 mars 1907. Son entrée
                    en vigueur date, elle, du 2 juin de la même année. Bien qu'il ait connu une multitude de révisions
                    partielles, un texte de plus de 100 ans est frappé de deux problèmes : une terminologie désuète et
                    le besoin de mettre noir sur blanc les changements qui ont été apportés au cours des années.
                    C'est pourquoi une révision totale a été amorcée en 2018.
                </p>
                <h5>2023 (en cours de révision)</h5>
                <hr class="cons-hr-subtitle">
                <p><i>
                        Le 4 mars 2018, la population valaisanne a accepté l’initiative populaire en faveur d’une
                        révision
                        totale de la Constitution cantonale et a décidé de confier les travaux à une Constituante.
                        L’élection des 130 membres de la Constituante a eu lieu le dimanche 25 novembre 2018.
                        Les élu-e-s se sont réunis pour la première fois le 17 décembre 2018 à Sion pour la séance
                        constitutive de la Constituante.<br/><br/>
                        La Constituante a ensuite siégé le 29 avril 2019, en séance plenière, pour l'adoption de son
                        Règlement la désignation du secrétaire général. Une autre séance plénière a eu lieu le 5 juin
                        2019.
                        Cette séance fut consacrée à l’élection des membres du Collège présidentiel, à la désignation
                        des
                        membres des différentes commissions (thématiques et institutionnelles) et à l’élection des
                        Président-e-s et Vice-Président-e-s des commissions thématiques.<br/><br/>
                        La Constituante aurait dû entamer le 2 avril 2020 la deuxième phase de ses travaux, à savoir la
                        phase d’examen des principes. A cet effet, la Constituante aurait dû se réunir à plusieurs
                        reprises
                        en séance plénière entre avril et juin 2020 afin de traiter les rapports préliminaires des
                        commissions thématiques portant sur les principes arrêtés par les commissions. En raison de la
                        pandémie de Coronavirus, les séances plénières ont dû être repoussée. Celles-ci auront lieu dès
                        le
                        mois de septembre 2020. (Canton du Valais, 2020)
                    </i></p>
                <a href="https://www.vs.ch/web/constituante" class="btn btn-outline-dark" target="_blank">
                    En savoir plus sur la constituante
                </a>
            </div>
        </div>
    </div>
{% endblock %}